.productDetails {
	width: 100%;
	background: #eeeeee;
	padding-bottom: 17%;
}

.carousel {
	width: 100%;
}
.carousel .swiper {
	width: 100%;
	height: 650rpx;
}
.carousel .swiper image {
	width: 100%;
	height: 750rpx;
}

.information {
	padding: 3%;
	background: white;
}
.information>view:first-child {
	font-size: 45rpx;
	font-weight: 600;
}
.information>view:first-child>text:last-child {
	display: block;
	margin-top: 2%;
	line-height: 1.5;
}
.information>view:nth-child(2) {
	display: flex;
	margin-top: 3%;
}
.information>view:nth-child(2)>view {
	margin-left: 2%;
	color: white;
	padding: 2% 4% 2% 4%;
	font-size: 30rpx;
	border-top-right-radius: 20rpx;
	border-bottom-right-radius: 20rpx;
	border-bottom-left-radius: 30rpx;
	background: #6c2324;
}
.information>view:nth-child(2)>view:first-child {
	margin-left: 0;
}
.information>view:nth-child(2)>view:last-child {
	background: #f8f8f8;
	color: black;
}
.information>view:nth-child(3) {
	margin-top: 3%;
	color: #66665d;
	line-height: 2;
	letter-spacing: 0.5rpx;
}
.information>view:nth-child(4) {
	width: 100%;
	height: 80rpx;
	margin-top: 3%;
	font-size: 35rpx;
	background: #f8f6f8;
	display: flex;
	line-height: 80rpx;
	color: #6b6b6a;
}
.information>view:nth-child(4) uni-icons:first-child {
	width: 60rpx;
	height: 60rpx;
	display: block;
	border-radius: 5rpx;
	text-align: center;
	line-height: 60rpx;
	margin-top: 1.5%;
	background: #6c2324;
}
.information>view:nth-child(4) text {
	margin-left: 2%;
	color: black;
}
.information>view:nth-child(4) uni-icons:last-child {
	flex: 1;
	text-align: right;
}
.information>view:last-child {
	display: flex;
	margin-top: 5%;
	justify-content: space-between;
}
.information>view:last-child>view {
	flex: 1;
	display: flex;
	height: 80rpx;
	color: #6a6a6a;
	line-height: 80rpx;
	letter-spacing: 0.5rpx;
}
.information>view:last-child>view:nth-child(2) {
	padding-left: 0;
}
.information>view:last-child>view:last-child {
	color: #533130;
	letter-spacing: 0;
	border-radius: 40rpx;
	border: 1rpx #533130 solid;
	padding-left: 7%;
}

.productSelection {
	width: 100%;
	height: 1000rpx;
	background: white;
	padding: 5%;
}
.productSelection>view:first-child {
	display: flex;
}
.productSelection>view:first-child>view {
	flex: 1;
}
.productSelection>view:first-child>view:first-child image {
	width: 130%;
	height: 220rpx;
	border-radius: 12rpx;
}
.productSelection>view:first-child>view:nth-child(2) {
	flex: 2;
	padding-top: 0.5%;
	padding-left: 10%;
	font-size: 37rpx;
	font-weight: 600;
}
.productSelection>view:first-child>view:nth-child(2)>text:last-child {
	display: block;
	margin-top: 8%;
	font-size: 28rpx;
	color: #999999;
}
.productSelection>view:first-child>view:last-child {
	text-align: center;
}
.productSelection>view:nth-child(2) {
	margin-top: 3%;
}
.productSelection .scroll-Y .scrollOuter {
	padding-right: 8%;
	padding-top: 5%;
}
.productSelection .scroll-Y .scrollOuter>text {
	font-size: 35rpx;
}
.productSelection .scroll-Y .scrollOuter>view {
	display: flex;
	flex-wrap: wrap;
}
.productSelection .scroll-Y .scrollOuter>view>view {
	padding: 4%;
	background: #f7f7f7;
	border-radius: 5rpx;
	margin-top: 5%;
	margin-left: 2%;
}
.scroll-Y {
	height: 580rpx;
}
.productSelection>view:nth-child(3) {
	display: flex;
	margin-top: 7%;
}
.productSelection>view:nth-child(3)>view {
	flex: 1;
}
.productSelection>view:nth-child(3)>view:first-child {
	font-size: 35rpx;
}
.productSelection>view:nth-child(3)>view:last-child {
	display: flex;
	line-height: 60rpx;
	text-align: center;
}
.productSelection>view:nth-child(3)>view:last-child button {
	width: 23%;
	height: 60rpx;
	border-radius: 0rpx;
	line-height: 60rpx;
}
.productSelection>view:nth-child(3)>view:last-child>text {
	display: block;
	width: 26%;
	height: 60rpx;
	background: #f2f2f4;
	margin-left: 0.5%;
}
.productSelection>view:nth-child(3)>view:last-child>button:last-child {
	margin-right: 21%;
}
.productSelection>view:last-child {
	display: flex;
	margin-top: 3%;
	justify-content: center;
	padding-right: 10%;
}
.productSelection>view:last-child>view {
	flex: 1;
	height: 100rpx;
	text-align: center;
	background: #000000;
	color: white;
	line-height: 100rpx;
	font-size: 37rpx;
}
.productSelection>view:last-child>view:first-child {
	border-top-left-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}
.productSelection>view:last-child>view:last-child {
	background: #6c2324;
	font-weight: 600;
	border-top-right-radius: 10rpx;
	border-bottom-right-radius: 10rpx;
}

.joinSelection {
	width: 100%;
	background: white;
	border-top: 1rpx #edeeed solid;
	position: fixed;
	bottom: 0rpx;
	display: flex;
	justify-content: center;
	padding-top: 3%;
	padding-left: 3%;
	padding-bottom: 2%;
	z-index: 100;
}
.joinSelection>view {
	flex: 1;
	height: 100rpx;
	text-align: center;
	background: #000000;
	color: white;
	line-height: 100rpx;
	font-size: 37rpx;
}
.joinSelection>view:first-child {
	border-top-left-radius: 10rpx;
	border-bottom-left-radius: 10rpx;
}
.joinSelection>view:last-child {
	margin-right: 6%;
	background: #6c2324;
	font-weight: 600;
	border-top-right-radius: 10rpx;
	border-bottom-right-radius: 10rpx;
}

.evaluate {
	width: 100%;
	background: white;
	margin-top: 3%;
	padding: 3%;
}
.evaluate>view:first-child {
	display: flex;
	letter-spacing: 1rpx;
	justify-content: space-between;
	font-size: 37rpx;
	font-weight: 600;
}
.evaluate>view:first-child>view:last-child {
	margin-right: 5%;
	font-weight: 500;
}
.evaluate>view:last-child {
	margin-top: 2%;
	height: 200rpx;
	color: #999999;
	letter-spacing: 1rpx;
	margin-right: 5%;
	line-height: 200rpx;
	text-align: center;
}

.commodityInformation {
	width: 100%;
	background: white;
	margin-top: 3%;
	padding: 3%;
}
.commodityInformation>view:first-child {
	letter-spacing: 1rpx;
	font-size: 37rpx;
	font-weight: 600;
}
.commodityInformation>view:nth-child(2), .commodityInformation>view:nth-child(3) {
	margin-top: 4%;
}
.commodityInformation>view:nth-child(2)>view, .commodityInformation>view:nth-child(3)>view {
	display: flex;
	margin-top: 4%;
}
.commodityInformation>view:nth-child(2)>view>text, .commodityInformation>view:nth-child(3)>view>text {
	display: block;
	flex: 1;
	font-size: 35rpx;
	letter-spacing: 1rpx;
}
.commodityInformation>view:nth-child(2)>view>text:last-child, .commodityInformation>view:nth-child(3)>view>text:last-child {
	text-align: right;
	flex: 2;
	letter-spacing: 0;
	margin-right: 6%;
	font-weight: 600;
}
.commodityInformation>view:last-child {
	text-align: center;
	margin-top: 5%;
	color: #999999;
	letter-spacing: 1rpx;
}

.realGraph {
	width: 100%;
	background: white;
	margin-top: 3%;
	padding: 3%;
}
.realGraph>view:first-child {
	letter-spacing: 1rpx;
	font-size: 37rpx;
	font-weight: 600;
}
.realGraph>view:last-child {
	margin-top: 5%;
	text-align: center;
	margin-right: 6%;
	display: flex;
	flex-direction: column;
}
.realGraph>view:last-child view {
	margin-top: -1.5%;
}
.realGraph>view:last-child image {
	width: 100%;
	border-radius: 10rpx;
}

.details {
	width: 100%;
}
.details>view:first-child {
	padding: 8% 0 8% 0;
	margin-right: 5%;
	text-align: center;
	font-size: 37rpx;
}
.details>view:first-child text {
	letter-spacing: 1rpx;
	font-weight: 600;
}
.details>view:last-child {
	width: 100%;
	text-align: center;
	background: white;
}
.details>view:last-child view {
	margin-top: -1.5%;
}
.details>view:last-child image {
	width: 100%;
}
.recommend {
	width: 100%;
	background: #f8f8f8
}
.recommend>view:first-child {
	display: flex;
	padding: 4%;
	padding-bottom: 0;
}
.recommend>view:first-child>view {
	flex: 1;
	font-size: 37rpx;
	font-weight: 600;
	letter-spacing: 1rpx;
}
.recommend>view:first-child>view:last-child {
	text-align: right;
	font-weight: 500;
}